.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-group-1 {
  width: 507px;
  min-height: 758px;
  margin: 133px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 74px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 25px auto 0 0;
  padding: 14px 52px 14px 51px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 625px;
  margin: -819px 0 -75px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 351px;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 16px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-style: normal;
  margin: 14px 14px 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  align-self: center;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 12px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 499px;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 9px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  font-style: normal;
  margin: 17px 21px 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 38px 14px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px auto 0 108px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: 12px 7px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 351px;
}

.u-section-1 .u-container-layout-4 {
  padding: 11px 0;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-1 .u-text-15 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 21px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  font-style: normal;
  margin: 15px 30px 0;
}

.u-section-1 .u-text-17 {
  font-style: italic;
  margin: 18px 19px 0 14px;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px auto 0 122px;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  margin: 12px 19px 0 14px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 499px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-btn-6 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 25px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-1 .u-text-19 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-20 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 15px 23px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -788px;
    margin-right: -50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: -10px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 14px 18px 14px 16px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -93px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    padding-right: 21px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  min-height: 792px;
}

.u-section-2 .u-group-1 {
  width: 713px;
  min-height: 158px;
  margin: 40px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 27px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 0 27px 0 0;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 776px);
  height: 363px;
  margin: 231px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 713px;
  grid-template-rows: auto;
  margin: -566px auto 0 80px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  grid-gap: 40px 40px;
  min-height: 525px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 341px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-family: "Fjalla One";
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 341px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-family: "Fjalla One";
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-list-2 {
  width: 330px;
  margin: -622px calc(((100% - 1140px) / 2)) 96px auto;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 506px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: auto;
  margin-left: 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: auto;
  margin-left: 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 790px;
  }

  .u-section-2 .u-group-1 {
    width: 633px;
    margin-top: 45px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 633px);
    height: 368px;
    margin-top: 219px;
  }

  .u-section-2 .u-list-1 {
    width: 583px;
    height: auto;
    margin-top: -571px;
    margin-left: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 14px) calc(50% - 14px);
    grid-gap: 28px 28px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    width: 291px;
    height: auto;
    margin-top: -542px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: -492px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1149px;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    height: 340px;
    margin-top: 607px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 673px;
    margin-top: -642px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-gap: 22px 22px;
  }

  .u-section-2 .u-image-1 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
    margin-top: -903px;
    margin-right: auto;
    margin-bottom: 96px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-2 .u-text-8 {
    margin-right: 1px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1237px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 55px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    height: 274px;
    margin-top: 750px;
  }

  .u-section-2 .u-list-1 {
    width: 527px;
    margin-top: -521px;
  }

  .u-section-2 .u-image-1 {
    height: 299px;
    width: 253px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 299px;
    width: 253px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
    margin-top: -996px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1817px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 127px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 270px;
    margin-top: 1364px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 298px;
    margin-top: -1084px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 326px;
    width: 298px;
  }

  .u-section-2 .u-image-2 {
    height: 326px;
    width: 298px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-top: -1598px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 30px 0 0;
}

.u-section-3 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 6px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 97px 0 59px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 620px;
  grid-gap: 38px 38px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 47px auto 0 60px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -84px auto 0 182px;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  margin: 17px 337px 0 182px;
}

.u-section-3 .u-shape-1 {
  width: 22px;
  left: 0;
  right: auto;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 47px auto 0 60px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -84px auto 0 182px;
}

.u-section-3 .u-text-5 {
  font-style: normal;
  margin: 17px 337px 0 182px;
}

.u-section-3 .u-shape-2 {
  width: 22px;
  left: 0;
  right: auto;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 47px auto 0 60px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -84px auto 0 182px;
}

.u-section-3 .u-text-7 {
  font-style: normal;
  margin: 17px 337px 0 182px;
}

.u-section-3 .u-shape-3 {
  width: 22px;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-text-3 {
    margin-right: 137px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(10, 59, 247) !important;
  }

  .u-section-3 .u-text-5 {
    margin-right: 137px;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(10, 59, 247) !important;
  }

  .u-section-3 .u-text-7 {
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 700px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 155px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 155px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: 41px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1140px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 110px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 857px;
}

.u-section-4 .u-container-layout-1 {
  padding: 12px 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0 20px;
  padding: 16px 48px 16px 47px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 857px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-4 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  color: rgb(17, 17, 17) !important;
  margin: 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.75rem;
  }
}.u-section-5 {
  background-image: none;
  min-height: 813px;
}

.u-section-5 .u-shape-1 {
  height: 415px;
  background-image: none;
  margin-top: -7px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  margin: -339px auto 0 calc(((100% - 1140px) / 2) + 60px);
}

.u-section-5 .u-list-1 {
  width: 1033px;
  margin: 44px calc(((100% - 1140px) / 2) + 47px) 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/mt.jpg");
  background-position: 50% 50%;
  margin: 69px 173px 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/45375679_765954267105684_5813718309119458204_n.jpeg");
  background-position: 50% 50%;
  margin: 69px 173px 0 0;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 14px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/anubh.jpg");
  background-position: 50% 50%;
  margin: 69px 173px 0 0;
}

.u-section-5 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 14px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1078px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1748px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1828px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 792px;
}

.u-section-6 .u-image-1 {
  width: 520px;
  height: 665px;
  margin: 68px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -673px 232px 0 570px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0 570px;
}

.u-section-6 .u-accordion-1 {
  width: 570px;
  margin: 42px auto 54px 570px;
}

.u-section-6 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-6 .u-image-1 {
    width: 404px;
    height: 698px;
    margin-top: 60px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -698px;
    margin-right: 0;
    margin-left: 457px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 457px;
  }

  .u-section-6 .u-accordion-1 {
    width: 483px;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-6 .u-image-1 {
    height: 675px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-6 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 202px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-6 .u-image-1 {
    height: 414px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: 33px;
    margin-left: 2px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 2px;
  }
}