.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-group-1 {
  min-height: 828px;
  margin-top: 0;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 46px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 18px 20px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 501px;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 35px auto 0;
  padding: 14px 28px 14px 26px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 443px;
  margin: 54px auto 0;
}

.u-section-1 .u-list-1 {
  width: 833px;
  margin: 47px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 221px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 1px 0;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 12px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 1px 0;
}

.u-section-1 .u-text-8 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 12px auto 0;
}

.u-section-1 .u-text-9 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 1px 0;
}

.u-section-1 .u-text-10 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1781px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1704px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 12px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 573px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2023px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1481px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1195px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 107px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 27px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 107px 22px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 139px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 11px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -19px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 192px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  line-height: 2.2;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 22px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  line-height: 2.2;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 2px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  line-height: 2.2;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 17px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 56px auto 0;
}

.u-section-2 .u-list-2 {
  margin-top: 85px;
  margin-bottom: 46px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 297px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/3a3ef0585e867a1388691def3a9a11e89cfaf9fd81ea4d84f2b47897664f0611b83ebe582f3274e6f174711c54893d28f2c2110e5d75dce0d54e16_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: -160px 0 0 223px;
}

.u-section-2 .u-text-8 {
  font-weight: 300;
  font-style: normal;
  margin: 27px 0 0 223px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 22px 90px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/3939445e72c7074e5cb0eee7dc8ece10006568839493fdbdab010cbbf6c4509118503e5e028f19c611b9400d2aec677f6a07c3dd72f758fa9f4a38_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: -160px 0 0 223px;
}

.u-section-2 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 27px 0 0 223px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 22px 90px 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2087px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 158px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 245px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2818px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 363px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-2 .u-list-2 {
    width: 500px;
    margin-top: 81px;
    margin-right: 97px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 978px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1870px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-right: 40px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    font-weight: 700;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    font-weight: 700;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 23px;
    margin-right: auto;
  }
}