.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 9px;
}

.u-section-1 .u-image-1 {
  width: 461px;
  height: 453px;
  margin: 41px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 572px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 23px 41px 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 7px 41px 0;
}

.u-section-1 .u-text-3 {
  margin: 51px 41px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-style: none;
  font-size: 0.875rem;
  margin: 30px auto 0 41px;
  padding: 13px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-image-1 {
    width: 406px;
    height: 399px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    height: 302px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}