.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1241px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 524px;
  margin: 11px auto 0;
}

.u-section-1 .u-group-1 {
  width: 403px;
  min-height: 846px;
  margin: 67px auto 0 43px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 172px;
  height: 172px;
  background-image: url("images/857e458e-9e41-49d2-b73d-78302d0b9b3d.jpg");
  background-position: 50% 50%;
  margin: 20px auto 50px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 20px 60px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 40px 60px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 40px 60px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 40px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 40px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 40px 60px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 40px 60px 0 0;
}

.u-section-1 .u-list-1 {
  width: 616px;
  margin: -797px 35px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 500px;
  grid-gap: 32px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 57px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-10 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 57px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-12 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 57px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-14 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 57px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 53px 38px 60px auto;
  padding: 14px 220px 15px 218px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-group-1 {
    width: 349px;
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 551px;
    margin-top: -392px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 36px;
    margin-right: 0;
    margin-bottom: 114px;
    padding-right: 187px;
    padding-left: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 415px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 425px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 43px;
    margin-left: 0;
    margin-bottom: 1123px;
    padding-right: 271px;
    padding-left: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2350px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 57px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1071px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
    margin-left: auto;
    margin-bottom: 1109px;
    padding-top: 13px;
    padding-right: 182px;
    padding-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1794px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 65px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 67px;
    min-height: 764px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-right: 108px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 101px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 51px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 349px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 60px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 14px;
  }
}